.side-layout {
  display: flex;
  flex-direction: column;
  dot-aside {
    width: 200px;
  }
}

@media (min-width: 640px) {
  .side-layout {
    flex-direction: row;
    height: 100%;
    dot-aside {
      width: 30%;
      flex: none;
    }
  }
}
