<header>
  <div class="content">
    <div class="header">
      <div class="name">
        <span class="material-symbols-outlined name__icon">
          newsmode
        </span>
        <a class="name__title text-lg" href="/">DotCMS News</a>
      </div>
      <div class="actions">
        <select aria-label="Year" [formControl]="yearControl">
          <option value="">Select year</option>
          @for (option of selectOptions(); track option) {
            <option>{{ option }}</option>
          }
        </select>
        <button (click)="toggleMobileShow()" class="expand-button">
          <span class="material-symbols-outlined">
            @if(showNewsOnMobile()) {
              expand_more
            } @else {
              expand_less
            }
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
