<header>
  <div class="name">DotCMS News Listing</div>
  <button (click)="toggleMobileShow()" class="expand-button">Toggle News</button>
  <select [formControl]="yearControl">
    <option *ngFor="let option of selectOptions">{{option}}</option>
  </select>
</header>
<div class="side-layout">
  <aside [ngClass]="{'shown-on-mobile': showNewsOnMobile}">
    <a *ngFor="let newsArticle of navMenu" class="article" (click)="showArticle(newsArticle.identifier)">
      <img [src]="apiUrl + newsArticle.image + '/50w'" *ngIf="newsArticle.image" /> {{ shortenText(newsArticle.title)}}
    </a>
  </aside>

  <ng-container *ngIf="article">
    <div class="article-wrapper">
      <div class="title_wrapper">
        <img *ngIf="article.image" [src]="apiUrl + article.image + '/500h'" />
        <p class="title">{{ article.title }}</p>
      </div>
      <section>
        <article>
          <div class="content">
            <h3 class="headline">{{ article.teaser }}</h3>
            <div>
              <p *ngFor="let paragraph of article.paragraphs">{{ paragraph }}</p>
            </div>
          </div>
        </article>
      </section>
    </div>

  </ng-container>


</div>

