:host {
  height: 100%;
}

header {
  border: 1px solid black;

  select {
    float: right;
    margin: 16px
  }

  .name {
    margin: 16px;
    display: inline-block;
  }
}

aside {
  width: 100%;
  border: solid black 1px;
  border-top: 0;
  display: none;
  &.shown-on-mobile {
    display: block;
  }
}


.side-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article {
  padding: 6px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;

  img {
    margin-right: 4px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background: black;
  color: white;
}

@media (min-width: 640px) {
  .side-layout {
    flex-direction: row;
    height: 100%;
  }
  aside {
    display: block;
    width: 200px;
  }
  .expand-button {
    display: none;
  }
}

.article-wrapper{
  .headline {
    font-size: 32px;
  }

  .title {
    background: rgba(122, 122, 122, 0.5);
    color: white;
    margin: 0 0 0 24px;
    display: block;
    width: 100%;
    padding: 12px;
    position: absolute;
    bottom: 0;
    font-size: 32px;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .content {
    max-width: 1000px;
  }

  .title_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 300px;
  }
}
