:host {
  height: 100%;
}

.side-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cover {
  width: 100%;
  height: 200px;
  position: relative;
}

@media (min-width: 640px) {
  .side-layout {
    flex-direction: row;
    height: 100%;
  }
}
