<div class="article-content">
  @for (item of content().content; track $index) {
    @switch (item.type) {
      @case ('paragraph') {
        <dot-paragraph [data]="item" />
      }
      @case ('heading') {
        <dot-heading [data]="item" />
      }
      @case ('dotImage') {
        <dot-image [data]="item" />
      }
      @case ('dotContent') {
        <img
          width="200"
          height="200"
          [ngSrc]="item.attrs.data.imageVersion"
          [alt]="item.attrs.data.title" />
      }
      @case ('bulletList') {
        <ul>
          @for (content of item.content; track $index) {
            @if (content.type === 'listItem') {
              <li>
                @for (item of content.content; track $index) {
                  @for (text of item.content; track $index) {
                    {{ text.text }}
                  }
                }
              </li>
            }
          }
        </ul>
      }
    }
  }
</div>
