/* You can add global styles to this file, and also import other style files */

html {
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--background);
}

*,
::before,
::after {
  box-sizing: border-box;
}

li,
p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

:root {
  --background: #fbfbff;
  --color-primary: #b7e4c7;
  --radius: 0.25rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  * {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.article-content {
  width: 100%;
  position: relative;
  padding-bottom: var(--spacing-4);
  > p:first-of-type {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
  p {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }
  .underline {
    text-decoration: underline;
  }
  .bold {
    font-weight: bold;
  }
  .image {
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
    img {
      object-fit: cover;
    }
  }
  ul {
    padding: var(--spacing-2);
    column-count: 2;
    column-gap: var(--spacing-4);
    li {
      margin-left: var(--spacing-1);
      margin-bottom: var(--spacing-4);
    }
  }
  .dot-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
    border: 1px solid gray;
    padding: var(--spacing-2);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    border-radius: var(--radius);
    .image {
      display: block;
      width: 10rem;
      height: 10rem;
      position: relative;
      flex: none;
      border-radius: var(--radius);
      img {
        object-fit: cover;
        border-radius: var(--radius);
      }
    }
    .btn {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

@media (min-width: 640px) {
  .article-content {
    .dot-content {
      flex-direction: row;
      align-items: start;
      .btn {
        width: 100%;
        display: inline;
        text-align: left;
      }
    }
  }
}

.btn {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  background-color: var(--color-primary);
  color: black;
  border-radius: var(--radius);
  text-decoration: none;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
